*{
    box-sizing: border-box;
    scroll-behavior: smooth;
    margin: 0;
    padding: 0;
    background-color:  rgb(206, 210, 226);
}
main{
    padding: 2em;
}
.section{
    max-width: 800px;
    margin: auto;
    border-radius: 10pt;
    box-shadow: 5px 5px 13px rgb(68, 85, 156);
    padding: 2em;
}
.section__tablaProductos{
    
}
.messages__container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    overflow: auto;
    max-height: 300px;
    box-shadow: 3px 3px 15px #023661;
    padding: 2em;
}
.email{
    font-weight: bold;
}
.date{
    color: brown;
}
.img__producto{
    max-width: 50px;
    max-height: 50px;
}
.section__bienvenida{
    display: flex;
    flex-direction: column;
}
.boton{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    margin-top: 2em;
}
